body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e4e4e4;
}

.login-container {
    width: 350px;
    background: white;
    padding: 30px;
    margin: 80px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-size: 14px;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 15px;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    background: #0067A3;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #004f7a;
}

#message {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}
