<style>
*{margin:0;padding:0;box-sizing:border-box;}
body{
  font-family:Arial, Helvetica, sans-serif;
  background:#f2f4f6;
  color:#222;
}

/* TOPBAR */
.topbar{
  width:100%;
  background:#ffffff;
  border-bottom:1px solid #d7d7d7;
  display:flex;
  justify-content:space-between;
  padding:6px 10px 4px 10px;
  align-items:flex-start;
}

.logo-img{
  width:38px;
  height:38px;
  object-fit:contain;
}

/* Iconos derecha */
.topbar-actions{
  display:flex;
  gap:6px;
  margin-top:0px;
}

.top-btn{
  width:44px;
  height:32px;
  background:linear-gradient(#fafafa,#e3e3e3);
  border:1px solid #bfc3c7;
  border-radius:6px;
  box-shadow:
    inset 0 1px 0 #ffffff,
    inset 0 -1px 0 #d4d4d4;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  position:relative;
}

.top-btn svg{
  width:16px;
  height:16px;
  fill:#555;
}

.mail-count{
  position:absolute;
  bottom:1px;
  right:4px;
  font-size:10px;
  color:#222;
}

/* MENÚ — IDÉNTICO SIU */
.menu{
  width:100%;
  background:#EFEFEF;
  border-bottom:1px solid #d0d0d0;
  display:flex;
  flex-direction:column;
  max-height:0;
  overflow:hidden;
  transition:max-height .30s ease;
}

.menu.open{
  max-height:1100px;
}

.menu-item{
  padding:14px 18px;
  font-size:16px;
  color:#333;
  border-bottom:1px solid #d9d9d9;
  cursor:pointer;
  display:flex;
  align-items:center;
}

.menu-item:hover{
  background:#e4e4e4;
}

.submenu{
  max-height:0;
  overflow:hidden;
  background:#f6f6f6;
  border-left:3px solid #bbbbbb;
  transition:max-height .25s ease;
  display:flex;
  flex-direction:column;
}

.submenu-item{
  padding:12px 38px;
  font-size:14px;
  border-bottom:1px solid #e2e2e2;
  cursor:pointer;
}

.submenu-item:hover{
  background:#ececec;
}

.submenu-arrow{
  margin-left:auto;
  font-size:13px;
  opacity:.7;
}

/* CONTENIDO */
.container{
  width:92%;
  max-width:750px;
  margin:14px auto;
}

.card{
  background:#fff;
  border:1px solid #aab7c4;
  padding:14px;
  border-radius:4px;
}

.header-box{
  background:#eef6fb;
  border:1px solid #d0dce4;
  padding:10px 12px;
  border-radius:4px;
  margin-bottom:12px;
}

.header-box-title{
  color:#1686b6;
  font-size:14px;
  font-weight:bold;
  margin-bottom:2px;
}

.red{
  color:#cc0000;
  font-weight:bold;
  margin:4px 0 10px 0;
}

.title{
  margin:10px 0 4px;
  font-weight:bold;
  color:#666;
  font-size:14px;
}

ul{padding-left:20px;font-size:14px;}
ul li{margin-bottom:5px;}

select{
  width:100%;
  padding:6px;
  border:1px solid #d0d0d0;
  border-radius:4px;
  background:white;
  font-size:14px;
}

.exam-block{
  background:#eef6fb;
  border:1px solid #d0dce4;
  padding:8px 10px;
  border-radius:4px;
  margin-top:10px;
  font-size:14px;
}

.exam-msg{
  background:#eef5fb;
  border-top:1px solid #c9dae7;
  padding:8px 10px;
  color:#0b6fb8;
  margin-top:6px;
  font-size:14px;
}
</style>
